APP_ENV=local

# Trading
TRADING_ENV=paper

# KIS API
KIS_APP_KEY=my_app_key
KIS_APP_SECRET=my_app_secret
KIS_AUTH_USER=my_account
KIS_AUTH_PASSWORD=my_password

# KIS 계좌번호(모의투자/실전투자 모두 가능)
KIS_KIS_ACCOUNT_NO=12345678
KIS_ACCOUNT_PRODUCT_CODE=01

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=user
DB_PASSWORD=password
DB_URL=postgresql+asyncpg://user:password@localhost:5432/mydatabase

# Redis
REDIS_HOST=redis-host
REDIS_PORT=redis-port
REDIS_DB=redis-db

# Celery
CELERY_BROKER_URL=celery-broker-url
CELERY_RESULT_BACKEND=celery-result-backend

# DART API
DART_API_KEY=my_dart_api_key